/* globals.css */

/* Supprime le scroll global */
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Empêche le défilement */
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}